@charset "UTF-8";

body {
    width : 600px;
    height: 360px;
    margin: 0 auto;
}

div.input {
    width         : 36%;
    margin-left   : 16px;
    display       : inline-block;
    vertical-align: top;
}

h4.text, h4.vcard, h4.sms, h4.email, h4.geo {
    margin-top: 18px;
}

div.qrcode {
    display: inline-block;
    width  : 50%;
    margin : 25px 0px 0px 30px;
}
